<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Report Auto Generate App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <div style="font-size: 1.5em; padding-top: 10%;">
            <center>
                <pre>
                <p>Hello World from ReportController!<a href="/helloWorld"></a>
                <p th:text="${name}" />
                </pre>
            </center>
        </div>
        <div style="bottom: 10px; display: flex; align-items: center;
                    justify-content: center; padding-top: 15%;">
        </div>
</body>
</html>