<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Add New Validation Type</title>
</head>
<body>
<div align="center">
    <h1>Add New Validation Type</h1>
    <!-- TODO remove id from form when DB connected -->
    <br/>
    <form action="#" th:action="@{/createVal}" th:object="${validationStrategy}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>ID:</td>
                <td><input type="number" th:field="*{id}" required/></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}" required/></td>
            </tr>
            <tr>
                <td>Sampling Plan:</td>
                <td><input type="text" th:field="*{name}" required/></td>
            </tr>
        </table>
    </form>
    <a th:href="@{/new-document}">Index</a>
</div>
</body>
</html>