<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Add New Validation Type</title>
</head>
<body>
<div align="center">
    <h1>Add New Validation Type</h1>
    <!-- TODO remove id from form when DB connected -->
    <br/>
    <form action="#" th:action="@{/createVal}" th:object="${validationStrategy}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>ID:</td>
                <td><input type="number" th:field="*{id}" required/></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}" required/></td>
            </tr>
            <tr>
                <td>Sampling Plan:</td>
                <td>
                    <select name="samplingPlanID">
                        <option value=" ">Select Sampling Plan</option>
                        <option th:each="plan : ${samplingPlanlist}"
                                th:value="${plan.id}"
                                th:text="${plan.name}">Wireframe</option>
                    </select>
                <td>
                <a th:href="@{/newSamplingPlan}">Add New Sampling Plan </a>
            </tr>
            <td align="center" colspan="2"><button type="submit">Save</button> </td>
        </table>
    </form>
    <a th:href="@{/new-document}">Index</a>
</div>
</body>
</html>