<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Document</title>
</head>
<body>
<div align="center">
    <h1>Create New Document</h1>
    <br />
    <!-- form to update the Report object (created in @GetMapping("/new"))
    on submit will hit save endpoint
    TODO data validation on input fields
    TODO update Report POJO, form and template content controls for productFamily
    -->
    <form action="#" th:action="@{/update}" th:object="${report}" method="post">
        <table border="0" cellpadding="10">
            <!-- TODO remove id from form when DB connected -->
            <tr>
                <td>ID:</td>
                <td><input type="number" th:field="*{id}" required/></td>
            </tr>
            <tr>
                <td>Document Type:</td>
                <td>
                    <select name="documentID">
                        <option value=" ">Select DocumentType</option>
                        <option th:each="doc : ${docTypeList}"
                                th:value="${doc.id}"
                                th:text="${doc.name}">Wireframe</option>
                        <option value="New">New</option>
                    </select>
                </td>
                <!-- TODO make conditional to select file if documentID = New -->
                <!--<div th:if="${documentID} == New">
                 1. when select happens trigger JS - event listener
                 2. pick target...
                 -->
                    <form method="post" enctype="multipart/form-data">
                        <div>
                            <label for="file">File name</label>
                            <input type="text" id="documentName" name="documentName">
                        </div>
                            <label for="file">Choose Template file to upload</label>
                            <input type="file" id="file" name="file">
                        <div>
                            <button>Submit</button>
                        </div>
                    </form>
            </tr>
            <tr>
                <td>Product SKU#:</td>
                <td>
                    <select name="productID">
                        <option value=" ">Select Product</option>
                        <option th:each="product : ${productList}"
                                th:value="${product.id}"
                                th:text="${product.name}">Wireframe</option>
                    </select>
                <td>
                <a th:href="@{/newProduct}">Add New Product</a>
            </tr>
            <tr>
                <td>Tool:</td>
                <td><input type="number" th:field="*{tool}" required/></td>
            <tr>
                <td>Production Cell:</td>
                <td><input type="text" th:field="*{productionCell}" required/></td>
            </tr>
            <tr>
                <td>Validation Strategy:</td>
                <td>
                    <select name="validationStrategyID">
                        <option value=" ">Select Validation Strategy</option>
                        <option th:each="validationStrategy : ${valList}"
                                th:value="${validationStrategy.id}"
                                th:text="${validationStrategy.name}">Wireframe</option>
                    </select>
                <td>
                <a th:href="@{/newVal}">Add New Validation Strategy</a>
            </tr>
            <tr>
            </tr>
            <tr>
                <br/><br/>
                <td align="center" colspan="10"><button type="submit">Auto Generate Report</button> </td>
            </tr>
        </table>
    </form>
    <br/><br/>
    <a th:href="@{/reportIndex}">Index</a>
</div>
</body>
</html>