<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Add New Template</title>
</head>
<body>
<div align="center">
    <h1>Create New Document</h1>
    <br />
    <form action="#" th:action="@{/addTemplate}" th:object="${document}" method="post" enctype="multipart/form-data">
        <table border="0" cellpadding="10">
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}" required/></td>
            </tr>
            <tr>
                <td>Document Template File:</td>
                <td><input type="file" id="template" name="file" multiple="multiple"></td>
            </tr>
        </table>
        <tr>
            <br/><br/>
            <td align="center" colspan="10"><button type="submit">Save</button> </td>
        </tr>
    </form>
</div>
</body>
</html>