<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Add New Validation Type</title>
</head>
<body>
<div align="center">
    <h1>Add New Validation Type</h1>
    <br/>
    <form action="#" th:action="@{/createVal}" th:object="${validationStrategy}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}" required/></td>
            </tr>
        </table>
        <br/>
        <div class="col-md-6 form-group">
            <label>Inspection Type</label>
            <select class="form-control" th:field="*{type}">
                <option value="">Choose...</option>
<!--                <option value="1-proportion">1-proportion</option>-->
                <option value="Normal">Normal</option>
<!--                <option value="Tightened">Tightened</option>-->
<!--                <option value="Reduced">Reduced</option>-->
            </select>
        </div>
        <br/>
        <div class="col-md-6 form-group">
            <tr>
                <strong>Inspection level:</strong>
                <div class="form-check form-check-inline">
<!--                    <input class="form-check-input" type="radio" th:field="*{inspectionLevel}" id="option1" value="1">-->
<!--                    <label class="form-check-label" for="option1">S1</label>-->
<!--                    <input class="form-check-input" type="radio" th:field="*{inspectionLevel}" id="option2" value="2">-->
<!--                    <label class="form-check-label" for="option2">S2</label>-->
<!--                    <input class="form-check-input" type="radio" th:field="*{inspectionLevel}" id="option3" value="3">-->
<!--                    <label class="form-check-label" for="option3">S3</label>-->
<!--                    <input class="form-check-input" type="radio" th:field="*{inspectionLevel}" id="option4" value="4">-->
<!--                    <label class="form-check-label" for="option3">S4</label>-->
<!--                    <input class="form-check-input" type="radio" th:field="*{inspectionLevel}" id="option5" value="5">-->
<!--                    <label class="form-check-label" for="option3">GL1</label>-->
                    <input class="form-check-input" type="radio" th:field="*{inspectionLevel}" id="option6" value="6">
                    <label class="form-check-label" for="option6">GL2</label>
<!--                    <input class="form-check-input" type="radio" th:field="*{inspectionLevel}" id="option7" value="7">-->
<!--                    <label class="form-check-label" for="option3">GL3</label>-->
                </div>
            </tr>
        </div>
        <br/>
        <tr>
        <td align="center" colspan="2"><button type="submit">Save</button> </td>
        </tr>
    </form>
    <a th:href="@{/new}">New Report</a>
</div>
</body>
</html>